body{
    text-align: center;
}
#output{
    background:white;
    border-radius:10px;
    border-top: magenta;
    padding: 10px;
    float:none;
    text-align: left;
    border-top: 5px;
    border-style: solid;
    border-left: white;
    border-right: white;
    border-bottom: white;
}
body{
    color: indigo;
    font-family: dongle;
}
button{
    font-family: dongle;
    color:white;
    background: linear-gradient(rgb(238, 10, 238), rgb(224, 190, 252));
    border-radius: 30px;
    border: none;
    font-size: 40px;
    width:400px;
}
body{
    background-image: url(bggg.png);
}
h1{
    text-decoration: underline;
    font-size: 50px;
}
#player1,#player2{
    margin-left: 430px;
    font-size: 20px;
}
#loginbtn{
    margin-top: 30px;
    margin-left: 24px;
}
button:hover{
    background: linear-gradient(rgb(185, 8, 185), rgb(180, 143, 212));
    transition: transform;
}